---
title: NoSQL & Big Data at Red Hat
author: Emmanuel Bernard, Manik Surtani
description: An overview of NoSQL and BigData in the Red Hat ecosystem

layout: reveal
---

%section
  %img.splash(src="#{site.base_url}/images/summit.png")

%section
  %h2 NoSQL & Big Data 
  %h3 at Red Hat
  %br
  %p June 2012
  %ul.intro
    %li 
      Manik Surtani 
      %ul 
        %li Grid dude, Red Hat, Inc.
    %li 
      Emmanuel Bernard 
      %ul
        %li Data dude, Red Hat, Inc.

%section
  %h2 Middleware is plumbing
  %blockquote
    :markdown
      Middleware is about assembling pipes of data together.

      In an hour, you should have an good overview of Red Hat's plumbing offering
      around NoSQL and Big Data. We will also discuss five specific examples.

%section
  %h2 Agenda 
  %ul
    %li What is NoSQL?
    %li Landscape of data storage
    %li The JBoss data technology
    %li Exploring 5 use cases

%section
  :markdown
    ## Emmanuel Bernard

    - serial OSS entrepreneur
      - Hibernate Search|OGM|Validator
      - Ceylon
    - Standardizer
    - Podcaster
      - <http://asylum.jboss.org>
      - <http://lescastcodeurs.com>

    - The rest at [@emmanuelbernard](http://twitter/emmanuelbernard) or <http://emmanuelbernard.com>

%section
  :markdown
    ## Manik Surtani

    - do stuff


%section
  :markdown
    ## End of presentation

    - this is where the presentation end
    - and Pete presentation start

%section
  %h2 Architecture
  %img.diagram(src="#{site.base_url}/images/ticketmonster_architecture.png" width="800")

%section
  %h2 Tools Overview
  %ul
    %li JBDS 5
    %li Forge

%section
  %h2 Demo

%section 
  %h2 End-user use cases
  %img.diagram(src="#{site.base_url}/images/user_use_cases.png" width="800")

%section 
  %h2 Administration use cases
  %img.diagram(src="#{site.base_url}/images/admin_use_cases.png" width="800")

%section
  %h2 HTML5 Architecture
  %img.diagram(src="#{site.base_url}/images/ticketmonster_html5_architecture.png" width="800")

%section
  %h2 Demo deep dive

%section
  %h2.bottom.red Can I get support?

%section
  %img.bottom(src="#{site.base_url}/images/as7_to_eap.png" width="800")

%section
  %img.diagram(src="#{site.base_url}/images/subscriptions.png" width="800")

%section
  %h2 Q&A
  %ul
    %li
      %a(href="http://jboss.org/developer") http://jboss.org/developer
    %li
      %a(href="http://jboss.org/jdf") http://jboss.org/jdf
    %li
      %a(href="https://twitter.com/#!/jbossdeveloper") @jbossdeveloper
